### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7621

### Target ProductID (board select, max 12 symbols)
CONFIG_FIRMWARE_PRODUCT_ID="NEWIFI3"
CONFIG_32M_REBOOT_FIXUP=y

### Linux kernel and toolchain
CONFIG_LINUXDIR=linux-3.4.x

############################################################
### Linux kernel configuration
############################################################

### Build ROOTFS_IN_RAM firmware mode (kernel+initramfs).
### Decreased firmware size, but more RAM used, slow boot.
### Also allow build image for load w/o flash from UART console
#CONFIG_FIRMWARE_TYPE_ROOTFS_IN_RAM=n

### Force MT7621 CPU clock to 900MHz (override Uboot settings)
CONFIG_FIRMWARE_CPU_900MHZ=n

### Enable MT7621 CPU sleep mode (downclock to 220MHz on idle)
CONFIG_FIRMWARE_CPU_SLEEP=n

### Kernel driver select for WiFi AP 2.4GHz
### 4.1 = MT7603E v4.1.2.0
### 4.1.2.1 = MT7603E v4.1.2.1
CONFIG_FIRMWARE_WIFI2_DRIVER=4.1.2.1

### Kernel driver select for WiFi AP 5GHz
### 3.0 = MT7612E v3.0.4.0
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### 启用IPv6支持
### Enable IPv6 support
CONFIG_FIRMWARE_ENABLE_IPV6=y

### 启用USB支持
### Enable USB support
CONFIG_FIRMWARE_ENABLE_USB=y

### 启用NTFS文件系统支持(使用Paragon"UFSD"驱动)
### Enable NTFS filesystem support via Paragon "ufsd" driver. ~0.4MB
CONFIG_FIRMWARE_ENABLE_UFSD=n

### 启用FAT/FAT32文件系统支持
### Enable FAT/FAT32 filesystem support. ~0.1MB
CONFIG_FIRMWARE_ENABLE_FAT=y

### 启用exFAT文件系统支持
### Enable exFAT (FAT/FAT32 too) filesystem support. ~0.12MB
CONFIG_FIRMWARE_ENABLE_EXFAT=y

### 启用EXT2文件系统支持
### Enable EXT2 filesystem support. ~0.1MB
CONFIG_FIRMWARE_ENABLE_EXT2=y

### 启用EXT3文件系统支持
### Enable EXT3 filesystem support. ~0.2MB
CONFIG_FIRMWARE_ENABLE_EXT3=y

### 启用EXT4文件系统支持
### Enable EXT4 (EXT3/2 too) filesystem support. ~0.4MB
CONFIG_FIRMWARE_ENABLE_EXT4=y

### 启用XFS文件系统支持
### Enable XFS filesystem support. ~0.6MB
CONFIG_FIRMWARE_ENABLE_XFS=n

### 启用FUSE用户态文件系统支持
### Enable FUSE (filesystems in userspace) support. ~0.1MB
CONFIG_FIRMWARE_ENABLE_FUSE=n

### 启用SWAP交换分区/文件支持
### Enable zRAM and SWAP files/partitions support. ~0.05MB
CONFIG_FIRMWARE_ENABLE_SWAP=y

### UVC摄像设备模块
### Include UVC camera modules. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_UVC=n

### USB-HID人体学接口设备模块
### Include USB-HID modules. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_HID=n

### USB-Serial串口设备模块(e.g. pl2303)
### Include USB-Serial modules (e.g. pl2303). ~0.03MB
CONFIG_FIRMWARE_INCLUDE_SERIAL=n

### USB-Audio音频设备模块
### Include USB-Audio modules ~0.46MB
CONFIG_FIRMWARE_INCLUDE_AUDIO=n

### XFRM(IPsec)网络安全协议内核模块
### Include XFRM (IPsec) modules & iptables extension ~ 0.2MB
CONFIG_FIRMWARE_INCLUDE_XFRM=n

### QoS网络调度模块
### Include network QoS scheduling modules. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_QOS=n

### IMQ流量塑形模块(轻微影响性能)
### Include IMQ module for shapers (a bit of performance degradation). ~0.02MB
CONFIG_FIRMWARE_INCLUDE_IMQ=n

### IFB流量塑形模块
### Include IFB module for shapers. ~0.03MB
CONFIG_FIRMWARE_INCLUDE_IFB=n

### IPSet实用程序和内核模块(SSP代理需要)
### Include IPSet utility and kernel modules. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### NFS网络文件系统v3版本服务器
### Include NFSv3 server. ~0.6MB
CONFIG_FIRMWARE_INCLUDE_NFSD=n

### NFS网络文件系统v3版本客户端
### Include NFSv3 client. ~0.5MB
CONFIG_FIRMWARE_INCLUDE_NFSC=n

### CIFS(SMB)网络文件共享客户端
### Include CIFS (SMB) client. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_CIFS=n

############################################################
### Userspace configuration
############################################################

### 路由器网页界面语言选择
### Include WebUI international resources. Increased firmware size
CONFIG_FIRMWARE_INCLUDE_LANG_CN=y
#CONFIG_FIRMWARE_INCLUDE_LANG_BR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_CZ=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DA=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DE=y
#CONFIG_FIRMWARE_INCLUDE_LANG_ES=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FI=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_NO=y
#CONFIG_FIRMWARE_INCLUDE_LANG_PL=y
#CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
#CONFIG_FIRMWARE_INCLUDE_LANG_SV=y
#CONFIG_FIRMWARE_INCLUDE_LANG_UK=y

### NTFS文件系统NTFS-3G驱动(不是Paragon"UFSD"驱动)
### Include NTFS-3G FUSE driver (instead of Paragon "ufsd"). ~0.4MB
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=n

### LPR打印程序
### Include LPR printer daemon. ~0.12MB
CONFIG_FIRMWARE_INCLUDE_LPRD=n

### USB-over-Ethernet打印程序
### Include USB-over-Ethernet printer daemon. ~0.05MB
CONFIG_FIRMWARE_INCLUDE_U2EC=n

### TCPdump网络抓包工具
### Include "tcpdump" utility. ~0.6MB
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=n

### HDparm硬盘高级电源管理(允许设置硬盘休眠)
### Include "hdparm" utility (allow set HDD spindown timeout and APM). ~0.1MB
CONFIG_FIRMWARE_INCLUDE_HDPARM=n

### Parted磁盘分区工具(允许创建GPT分区)
### Include "parted" utility (allow make GPT partitions). ~0.3MB
CONFIG_FIRMWARE_INCLUDE_PARTED=n

### WINS微软网络名称转换服务器
### Include WINS server only. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_WINS=y

### SMB网络文件共享系统日志
### Include syslog for SMB and WINS server. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=n

### SMB网络文件共享3.0版本
### Include SMB (and WINS) server. ~1.5MB
CONFIG_FIRMWARE_INCLUDE_SMBD=y

### SMB网络文件共享3.6版本
### using samba3.6 instead of samba3
CONFIG_FIRMWARE_INCLUDE_SMBD36=y

### FTP文件传送协议服务器
### Include FTP server. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_FTPD=n

### L2TP控制客户端RP-L2TP
### Include alternative L2TP control client RP-L2TP. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_RPL2TP=n

### 802.1X扩展认证协议EAP-TTLS和EAP-PEAP支持
### Include EAP-TTLS and EAP-PEAP authentication support. openssl ~1.2MB, wpa_supplicant +0.04MB
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y

### 路由器网页界面HTTPS支持
### Include HTTPS support. openssl ~1.2MB
CONFIG_FIRMWARE_INCLUDE_HTTPS=n

### SFTP安全文件传送协议服务器
### Include sftp-server. openssl ~1.2MB, sftp-server ~0.06MB
CONFIG_FIRMWARE_INCLUDE_SFTP=n

### dropbear网络安全外壳协议
### Include dropbear SSH. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=n

### dropbear对称密码和快速哈希
### Make the dropbear symmetrical ciphers and hashes faster. ~0.06MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=n

### OpenSSH网络安全外壳协议
### Include OpenSSH instead of dropbear. openssl ~1.2MB, openssh ~1.0MB
CONFIG_FIRMWARE_INCLUDE_OPENSSH=y

### OpenVPN(需要IPv6支持)
### Include OpenVPN. IPv6 required. openssl ~1.2MB, openvpn ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n

### OpenSSL椭圆曲线算法
### Include Elliptic Curves (EC) to openssl library. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### OpenSSL可执行程序(用于生成证书)
### Include "openssl" executable for generate certificates. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n

### StrongSwan开源IPsec方案
### Include StrongSwan. XFRM modules ~0.2MB, strongswan ~0.7MB
CONFIG_FIRMWARE_INCLUDE_SSWAN=n

### IPTV多媒体xUPNPd服务器
### Include xUPNPd IPTV mediaserver. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_XUPNPD=y

### Minidlna多媒体UPnP服务器
### Include Minidlna UPnP mediaserver. ~1.6MB
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n

### Firefly多媒体服务器
### Include Firefly iTunes mediaserver. ~1.0MB
CONFIG_FIRMWARE_INCLUDE_FIREFLY=n

### FFMPEG多媒体解码库(Minidlna和Firefly需要此库)
### Include ffmpeg 0.11.x instead of 0.6.x for Minidlna and Firefly. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_FFMPEG_NEW=n

### BT工具Transmission
### Include Transmission torrent. openssl ~1.2MB, transmission ~1.5MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n

### BT工具Transmission网页界面
### Include Transmission-Web-Control (advanced WebUI). ~0.8MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=n

### Aria2下载工具
### Include Aria2 download manager. openssl ~1.2MB, aria2 ~3.5MB
CONFIG_FIRMWARE_INCLUDE_ARIA=y

### Aria2下载工具网页界面
### Include Aria2 WEB control. ~0.7MB
CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=y

### scutclient校园网
CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n

### Dr.com校园网
CONFIG_FIRMWARE_INCLUDE_GDUT_DRCOM=n

### dogcom校园网
CONFIG_FIRMWARE_INCLUDE_DOGCOM=n

### MiniEAP锐捷认证
CONFIG_FIRMWARE_INCLUDE_MINIEAP=n

### inode校园网认证njit-client
CONFIG_FIRMWARE_INCLUDE_NJIT_CLIENT=n

### IPv6网络地址端口转换
CONFIG_FIRMWARE_INCLUDE_NAPT66=n

### SoftEtherVPN服务器
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_SERVER=n

### SoftEtherVPN客户端
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CLIENT=n

### SoftEtherVPN命令行
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CMD=n

### vlmcsd模拟KMS服务器
CONFIG_FIRMWARE_INCLUDE_VLMCSD=y

### ttyd网页版远程终端
CONFIG_FIRMWARE_INCLUDE_TTYD=y

### lrzsz文件传输工具
CONFIG_FIRMWARE_INCLUDE_LRZSZ=n

### Htop系统监控与进程管理
CONFIG_FIRMWARE_INCLUDE_HTOP=n

### nano文本编辑器命令行工具
CONFIG_FIRMWARE_INCLUDE_NANO=n

### Iperf3网络性能测试工具
CONFIG_FIRMWARE_INCLUDE_IPERF3=n

### Dump1090飞行轨迹
CONFIG_FIRMWARE_INCLUDE_DUMP1090=n

### RTL-SDR软件无线电
CONFIG_FIRMWARE_INCLUDE_RTL_SDR=n

### Mtr网络诊断工具
CONFIG_FIRMWARE_INCLUDE_MTR=n

### Socat多功能的网络工具
CONFIG_FIRMWARE_INCLUDE_SOCAT=n

### srelay代理工具(socks5)
CONFIG_FIRMWARE_INCLUDE_SRELAY=n

### mentohust锐捷认证
CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n

### frp内网穿透客户端frpc
CONFIG_FIRMWARE_INCLUDE_FRPC=n

### frp内网穿透服务器frps
CONFIG_FIRMWARE_INCLUDE_FRPS=n

### VPN客户端tunsafe(WireGuard协议)
CONFIG_FIRMWARE_INCLUDE_TUNSAFE=n

### VPN客户端WireGuard(WireGuard协议)
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=n

### SFE(shortcut-fe)软件加速
CONFIG_FIRMWARE_INCLUDE_SFE=y

### SmartDNS本地DNS服务器
CONFIG_FIRMWARE_INCLUDE_SMARTDNS=n

### SSP代理基础程序(包含SS和SSR)
CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=y

### SSP代理Trojan可执行程序
CONFIG_FIRMWARE_INCLUDE_TROJAN=y

### SSP代理VMess可执行程序
CONFIG_FIRMWARE_INCLUDE_SSVMESS=y

### SSP代理Naive可执行程序
CONFIG_FIRMWARE_INCLUDE_SSNAIVE=y

### SSP代理Hysteria2可执行程序
CONFIG_FIRMWARE_INCLUDE_SSHYSTERIA2=y

### SSP代理SS插件v2ray-plugin可执行程序
CONFIG_FIRMWARE_INCLUDE_SSV2RP=y
